In [1]:
import org.apache.spark.sql.SparkSession

In [2]:
val spark = SparkSession. \
builder. \
master("local"). \
appName("Delta_Lake_Examples"). \
enableHiveSupport(). \
getOrCreate()

Compile Error: <console>:26: error: value \ is not a member of object org.apache.spark.sql.SparkSession
       val spark = SparkSession. \
                                 ^
<console>:27: error: not found: value builder
       builder. \
       ^
<console>:28: error: not found: value master
       master("local"). \
       ^
<console>:29: error: not found: value appName
       appName("Delta_Lake_Examples"). \
       ^
<console>:30: error: not found: value enableHiveSupport
       enableHiveSupport(). \
       ^

In [3]:
spark.range(100).repartition(1).write.mode("overwrite").csv("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")

In [4]:
val df = spark.read.csv("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")

df = [_c0: string]

[_c0: string]

In [5]:
df.show(5)
df.count()

+---+
|_c0|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+
only showing top 5 rows

100

In [6]:
scala.util.Try(
  spark
    .range(100)
    .repartition(1)
    .map { i =>
      if (i > 50) {
        Thread.sleep(5000)
        throw new RuntimeException("Oops!")
      }
      i
    }
    .write
    .mode("overwrite")
  .csv("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")
)

Failure(org.apache.spark.SparkException: Job aborted.)

#### http://192.168.0.104:4040/

In [7]:
val hist_df = spark.read.format("csv").option("inferSchema", "true").option("delimiter", ",").option("header", "true").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/input/placements_hist_data.csv")

hist_df = [sl_no: int, gender: string ... 8 more fields]

[sl_no: int, gender: string ... 8 more fields]

In [8]:
hist_df.printSchema()
hist_df.show(5)
hist_df.count()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- mba_p: integer (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|    status|salary|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|    1|     M| 67.0| 91.0|    58.0|   55|        Mkt&HR|    No|    Placed|270000|
|    2|     M|79.33|78.33|   77.48|   86|       Mkt&Fin|   Yes|    Placed|200000|
|    3|     M| 65.0| 68.0|    64.0|   75|       Mkt&Fin|    No|    Placed|250000|
|    4|     M| 56.0| 52.0|    52.0|   66|        Mkt&HR|    No|Not Placed|  null|
|    5|     M| 85.8| 73.6|    73.3|   96|       Mkt&Fin|    No|    Placed|425000|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
only showing top 5 rows

204

In [9]:
hist_df.write.mode("overwrite").format("parquet").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")

In [10]:
val incr_df = spark.read.format("csv").option("inferSchema", "true").option("delimiter", ",").option("header", "true").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/input/placements_incr_data.csv")

incr_df = [sl_no: int, gender: string ... 8 more fields]

[sl_no: int, gender: string ... 8 more fields]

In [11]:
incr_df.printSchema()
incr_df.show(5)
incr_df.count()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- hsc_p: integer (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- mba_p: double (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|    status|salary|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|  205|     F| 74.0|   73|    73.0| 80.0|       Mkt&Fin|   Yes|    Placed|210000|
|  206|     M| 61.0|   62|    65.0| 62.0|       Mkt&Fin|    No|    Placed|250000|
|  207|     M| 41.0|   42|    60.0| 97.0|       Mkt&Fin|    No|Not Placed|  null|
|  208|     M|83.33|   78|    61.0| 88.0|       Mkt&Fin|   Yes|    Placed|300000|
|  209|     F| 43.0|   60|    65.0| 92.0|        Mkt&HR|    No|Not Placed|  null|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
only showing top 5 rows

11

In [12]:
incr_df.write.mode("append").format("parquet").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")

In [13]:
val final_df = spark.read.parquet("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")

final_df = [sl_no: int, gender: string ... 8 more fields]

[sl_no: int, gender: string ... 8 more fields]

In [14]:
final_df.printSchema()
final_df.count()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- mba_p: integer (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

215

In [15]:
final_df.filter(final_df("status")==="Not Placed").show(50)

+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|    status|salary|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|    4|     M| 56.0| 52.0|    52.0|   66|        Mkt&HR|    No|Not Placed|  null|
|    6|     M| 55.0| 49.8|   67.25|   55|       Mkt&Fin|   Yes|Not Placed|  null|
|    7|     F| 46.0| 49.2|    79.0|   74|       Mkt&Fin|    No|Not Placed|  null|
|   10|     M| 58.0| 70.0|    61.0|   54|       Mkt&Fin|    No|Not Placed|  null|
|   13|     F| 47.0| 55.0|    65.0|   62|        Mkt&HR|    No|Not Placed|  null|
|   15|     M| 62.0| 47.0|    50.0|   76|        Mkt&HR|    No|Not Placed|  null|
|   18|     F| 55.0| 67.0|    64.0|   60|       Mkt&Fin|    No|Not Placed|  null|
|   19|     F| 63.0| 66.0|    64.0|   68|        Mkt&HR|    No|Not Placed|  null|
|   26|     F|52.58| 54.6|    50.2|   76|       Mkt&Fin|   Yes|Not Placed|  null|
|   30|     M| 62.0| 67.0|    58.0|   77|       Mkt&Fin|    No|Not Placed|  null|
|   32|     F| 67.0| 53.0|    65.0|   64|        Mkt&HR|    No|Not Placed|  null|
|   35|     M| 62.0| 51.0|    52.0|   68|        Mkt&HR|    No|Not Placed|  null|
|   37|     M| 51.0| 44.0|    57.0|   64|       Mkt&Fin|    No|Not Placed|  null|
|   42|     F| 74.0|63.16|    65.0|   65|        Mkt&HR|   Yes|Not Placed|  null|
|   43|     M| 49.0| 39.0|    65.0|   63|       Mkt&Fin|    No|Not Placed|  null|
|   46|     F| 76.0| 64.0|    72.0|   58|        Mkt&HR|    No|Not Placed|  null|
|   47|     F|70.89|71.98|    65.6|   68|        Mkt&HR|    No|Not Placed|  null|
|   50|     F| 50.0| 37.0|    52.0|   65|        Mkt&HR|    No|Not Placed|  null|
|   52|     M| 54.4|61.12|    56.2|   67|        Mkt&HR|    No|Not Placed|  null|
|   53|     F|40.89|45.83|    53.0|   71|        Mkt&HR|    No|Not Placed|  null|
|   64|     M| 61.0| 70.0|    64.0|   68|        Mkt&HR|    No|Not Placed|  null|
|   66|     M| 54.0| 47.0|    57.0|   89|        Mkt&HR|    No|Not Placed|  null|
|   69|     F| 69.7| 47.0|    72.7|   79|        Mkt&HR|    No|Not Placed|  null|
|   76|     F| 59.0| 62.0|    77.5|   74|        Mkt&HR|    No|Not Placed|  null|
|   80|     F| 69.0| 62.0|    66.0|   75|        Mkt&HR|    No|Not Placed|  null|
|   83|     M| 63.0| 67.0|    74.0|   82|       Mkt&Fin|    No|Not Placed|  null|
|   88|     M| 59.6| 51.0|    60.0|   75|        Mkt&HR|    No|Not Placed|  null|
|   92|     M| 52.0| 57.0|    50.8|   67|        Mkt&HR|    No|Not Placed|  null|
|   94|     M| 52.0| 62.0|    54.0|   72|        Mkt&HR|    No|Not Placed|  null|
|   98|     F| 70.5| 62.5|    61.0|   93|       Mkt&Fin|    No|Not Placed|  null|
|  100|     M| 54.0| 82.0|    63.0|   50|       Mkt&Fin|    No|Not Placed|  null|
|  101|     F| 45.0| 57.0|    58.0|   56|        Mkt&HR|   Yes|Not Placed|  null|
|  106|     M| 59.0| 64.0|    58.0|   85|        Mkt&HR|    No|Not Placed|  null|
|  107|     M|61.08| 50.0|    54.0|   71|       Mkt&Fin|    No|Not Placed|  null|
|  110|     M| 52.0| 63.0|    65.0|   86|        Mkt&HR|   Yes|Not Placed|  null|
|  112|     M| 51.0| 54.0|    61.0|   60|        Mkt&HR|    No|Not Placed|  null|
|  121|     M| 58.0| 40.0|    59.0|   73|        Mkt&HR|    No|Not Placed|  null|
|  131|     M| 62.0| 65.0|    60.0|   84|       Mkt&Fin|    No|Not Placed|  null|
|  137|     F| 47.0| 59.0|    64.0|   78|       Mkt&Fin|    No|Not Placed|  null|
|  142|     M| 66.0| 64.0|    60.0|   60|        Mkt&HR|    No|Not Placed|  null|
|  145|     M| 52.0| 50.0|    61.0|   60|       Mkt&Fin|    No|Not Placed|  null|
|  150|     M| 44.0| 58.0|    55.0|   64|        Mkt&HR|   Yes|Not Placed|  null|
|  156|     M|51.57|74.66|    59.9|   56|        Mkt&HR|   Yes|Not Placed|  null|
|  159|     M| 67.0| 63.0|    64.0|   60|       Mkt&Fin|    No|Not Placed|  null|
|  160|     M| 52.0| 49.0|    58.0|   62|        Mkt&HR|    No|Not Placed|  null|
|  162|     M| 55.6| 51.0|    57.5|   57|        Mkt&HR|    No|Not Placed|  null|
|  166|     F| 63.3|78.33|    74.0|   80|       Mkt&Fin|    No|Not Placed|  null|
|  168|     M| 67.9| 62.0|    67.0|   58|       Mkt&Fin|   Yes|Not Placed|  null|
|  169|     F| 48.0| 51.0|    58.0|   60|        Mkt&HR|   Yes|Not Placed|  null|
|  170|     M|59.96|42.16|   61.26|   54|        Mkt&HR|    No|Not Placed|  null|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
only showing top 50 rows

In [16]:
final_df.filter(final_df("status")==="Not Placed").show(100)

org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 25.0 failed 1 times, most recent failure: Lost task 0.0 in stage 25.0 (TID 42, localhost, executor driver): org.apache.spark.sql.execution.QueryExecutionException: Parquet column cannot be converted in file file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/part-00000-f61f5ad6-3ebc-4e40-86e3-9104a8e13c61-c000.snappy.parquet. Column: [hsc_p], Expected: double, Found: INT32
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:187)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.scan_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.sql.execution.datasources.SchemaColumnConvertNotSupportedException
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.constructConvertNotSupportedException(VectorizedColumnReader.java:250)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readIntBatch(VectorizedColumnReader.java:420)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readBatch(VectorizedColumnReader.java:205)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextBatch(VectorizedParquetRecordReader.java:261)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextKeyValue(VectorizedParquetRecordReader.java:159)
	at org.apache.spark.sql.execution.datasources.RecordReaderIterator.hasNext(RecordReaderIterator.scala:39)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:181)
	... 23 more

Driver stacktrace:

#### Column: [hsc_p], Expected: double, Found: INT32

In [17]:
spark.range(100).select($"id".as("id")).repartition(1).write.mode("overwrite").format("delta").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")

lastException: Throwable = null

In [18]:
val df = spark.read.format("delta").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")

df = [id: bigint]

[id: bigint]

In [19]:
df.show(5)
df.count()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+
only showing top 5 rows

100

In [20]:
scala.util.Try(spark.range(100).repartition(1).map { i =>
      if (i > 50) {
        Thread.sleep(5000)
        throw new RuntimeException("Oops!")
      }
    i
  }.select($"value".as("id")).write.mode("overwrite").format("delta").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")
)

Failure(org.apache.spark.SparkException: Job aborted.)

In [21]:
val df = spark.read.format("delta").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")

df = [id: bigint]

[id: bigint]

In [22]:
df.show(5)
df.count()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+
only showing top 5 rows

100

In [23]:
scala.util.Try(spark.range(50).repartition(1).map { i =>
      if (i > 100) {
        Thread.sleep(5000)
        throw new RuntimeException("Oops!")
      }
    i
  }.select($"value".as("id")).write.mode("overwrite").format("delta").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")
)

Success(())

In [24]:
val df = spark.read.format("delta").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e1/")

df = [id: bigint]

[id: bigint]

In [25]:
df.show(5)
df.count()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+
only showing top 5 rows

50

In [26]:
val hist_df = spark.read.format("csv").option("inferSchema", "true").option("delimiter", ",").option("header", "true").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/input/placements_hist_data.csv")

hist_df = [sl_no: int, gender: string ... 8 more fields]

[sl_no: int, gender: string ... 8 more fields]

In [27]:
hist_df.printSchema()
hist_df.show(5, false)
hist_df.count()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- mba_p: integer (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|status    |salary|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|1    |M     |67.0 |91.0 |58.0    |55   |Mkt&HR        |No    |Placed    |270000|
|2    |M     |79.33|78.33|77.48   |86   |Mkt&Fin       |Yes   |Placed    |200000|
|3    |M     |65.0 |68.0 |64.0    |75   |Mkt&Fin       |No    |Placed    |250000|
|4    |M     |56.0 |52.0 |52.0    |66   |Mkt&HR        |No    |Not Placed|null  |
|5    |M     |85.8 |73.6 |73.3    |96   |Mkt&Fin       |No    |Placed    |425000|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
only showing top 5 rows

204

In [28]:
hist_df.write.format("delta").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")

In [29]:
val incr_df = spark.read.format("csv").option("inferSchema", "true").option("delimiter", ",").option("header", "true").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/input/placements_incr_data.csv")

incr_df = [sl_no: int, gender: string ... 8 more fields]

[sl_no: int, gender: string ... 8 more fields]

In [30]:
incr_df.printSchema()
incr_df.show(5)
incr_df.count()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- hsc_p: integer (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- mba_p: double (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|    status|salary|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|  205|     F| 74.0|   73|    73.0| 80.0|       Mkt&Fin|   Yes|    Placed|210000|
|  206|     M| 61.0|   62|    65.0| 62.0|       Mkt&Fin|    No|    Placed|250000|
|  207|     M| 41.0|   42|    60.0| 97.0|       Mkt&Fin|    No|Not Placed|  null|
|  208|     M|83.33|   78|    61.0| 88.0|       Mkt&Fin|   Yes|    Placed|300000|
|  209|     F| 43.0|   60|    65.0| 92.0|        Mkt&HR|    No|Not Placed|  null|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
only showing top 5 rows

11

In [31]:
incr_df.write.mode("append").format("delta").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")

org.apache.spark.sql.AnalysisException: Failed to merge fields 'hsc_p' and 'hsc_p'. Failed to merge incompatible data types DoubleType and IntegerType;;

In [32]:
val final_df = spark.read.format("delta").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")
final_df.printSchema()
final_df.count()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- mba_p: integer (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

final_df = [sl_no: int, gender: string ... 8 more fields]

lastException: Throwable = null

204

In [33]:
import io.delta.tables._

In [34]:
val dt = DeltaTable.forPath(spark, "file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")

dt = io.delta.tables.DeltaTable@65e98b48

io.delta.tables.DeltaTable@65e98b48

In [35]:
dt.toDF.show(5, false)
dt.toDF.count()

+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|status    |salary|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
|1    |M     |67.0 |91.0 |58.0    |55   |Mkt&HR        |No    |Placed    |270000|
|2    |M     |79.33|78.33|77.48   |86   |Mkt&Fin       |Yes   |Placed    |200000|
|3    |M     |65.0 |68.0 |64.0    |75   |Mkt&Fin       |No    |Placed    |250000|
|4    |M     |56.0 |52.0 |52.0    |66   |Mkt&HR        |No    |Not Placed|null  |
|5    |M     |85.8 |73.6 |73.3    |96   |Mkt&Fin       |No    |Placed    |425000|
+-----+------+-----+-----+--------+-----+--------------+------+----------+------+
only showing top 5 rows

204

In [36]:
dt.delete("status == 'Not Placed'")

In [37]:
dt.toDF.show(5, false)
dt.toDF.count()

+-----+------+-----+-----+--------+-----+--------------+------+------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|status|salary|
+-----+------+-----+-----+--------+-----+--------------+------+------+------+
|1    |M     |67.0 |91.0 |58.0    |55   |Mkt&HR        |No    |Placed|270000|
|2    |M     |79.33|78.33|77.48   |86   |Mkt&Fin       |Yes   |Placed|200000|
|3    |M     |65.0 |68.0 |64.0    |75   |Mkt&Fin       |No    |Placed|250000|
|5    |M     |85.8 |73.6 |73.3    |96   |Mkt&Fin       |No    |Placed|425000|
|8    |M     |82.0 |64.0 |66.0    |67   |Mkt&Fin       |Yes   |Placed|252000|
+-----+------+-----+-----+--------+-----+--------------+------+------+------+
only showing top 5 rows

140

In [38]:
dt.updateExpr("specialisation == 'Mkt&HR'", Map("salary" -> "salary + 50000"))

In [39]:
dt.toDF.show(5,false)

+-----+------+-----+-----+--------+-----+--------------+------+------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|status|salary|
+-----+------+-----+-----+--------+-----+--------------+------+------+------+
|1    |M     |67.0 |91.0 |58.0    |55   |Mkt&HR        |No    |Placed|320000|
|2    |M     |79.33|78.33|77.48   |86   |Mkt&Fin       |Yes   |Placed|200000|
|3    |M     |65.0 |68.0 |64.0    |75   |Mkt&Fin       |No    |Placed|250000|
|5    |M     |85.8 |73.6 |73.3    |96   |Mkt&Fin       |No    |Placed|425000|
|8    |M     |82.0 |64.0 |66.0    |67   |Mkt&Fin       |Yes   |Placed|252000|
+-----+------+-----+-----+--------+-----+--------------+------+------+------+
only showing top 5 rows

In [40]:
val hist_df = spark.read.format("csv").option("inferSchema", "true").option("delimiter", ",").option("header", "true").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/input/iata_hist_data.csv")

hist_df = [IATA: string, AIRPORT: string ... 3 more fields]

[IATA: string, AIRPORT: string ... 3 more fields]

In [41]:
hist_df.printSchema()
hist_df.show(5, false)
hist_df.count()

root
 |-- IATA: string (nullable = true)
 |-- AIRPORT: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)

+----+-----------------------------------+-----------+-----+-------+
|IATA|AIRPORT                            |CITY       |STATE|COUNTRY|
+----+-----------------------------------+-----------+-----+-------+
|AKN |King Salmon                        |King Salmon|AK   |USA    |
|ABQ |Albuquerque International          |Albuquerque|NM   |USA    |
|ANC |Ted Stevens Anchorage International|Anchorage  |AK   |USA    |
|ATL |William B Hartsfield-Atlanta Intl  |Atlanta    |GA   |USA    |
|AUS |Austin-Bergstrom International     |Austin     |TX   |USA    |
+----+-----------------------------------+-----------+-----+-------+
only showing top 5 rows

316

In [42]:
hist_df.write.format("delta").mode("overwrite").save("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e3/")

In [43]:
val dt = DeltaTable.forPath(spark, "file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e3/")
dt.toDF.show(5, false)

+----+-----------------------------------+-----------+-----+-------+
|IATA|AIRPORT                            |CITY       |STATE|COUNTRY|
+----+-----------------------------------+-----------+-----+-------+
|AKN |King Salmon                        |King Salmon|AK   |USA    |
|ABQ |Albuquerque International          |Albuquerque|NM   |USA    |
|ANC |Ted Stevens Anchorage International|Anchorage  |AK   |USA    |
|ATL |William B Hartsfield-Atlanta Intl  |Atlanta    |GA   |USA    |
|AUS |Austin-Bergstrom International     |Austin     |TX   |USA    |
+----+-----------------------------------+-----------+-----+-------+
only showing top 5 rows

dt = io.delta.tables.DeltaTable@71f9094

io.delta.tables.DeltaTable@71f9094

In [44]:
val incr_df = spark.read.format("csv").option("inferSchema", "true").option("delimiter", ",").option("header", "true").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/input/iata_incr_data.csv")

incr_df = [IATA: string, AIRPORT: string ... 3 more fields]

[IATA: string, AIRPORT: string ... 3 more fields]

In [45]:
incr_df.printSchema()
incr_df.show(5, false)
incr_df.count()

root
 |-- IATA: string (nullable = true)
 |-- AIRPORT: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)

+----+-------------------+-------------+-----+-------+
|IATA|AIRPORT            |CITY         |STATE|COUNTRY|
+----+-------------------+-------------+-----+-------+
|AKN |King Salmon Updated|King Salmon  |AK   |USA    |
|BFL |Meadows New        |Bakersfield  |CA   |USA    |
|STX |Henry E. Rohlsen   |Christiansted|VI   |USA    |
|SUN |Friedman Memorial  |Hailey       |ID   |USA    |
|SUX |Sioux Gateway      |Sioux City   |IA   |USA    |
+----+-------------------+-------------+-----+-------+
only showing top 5 rows

26

In [46]:
hist_df.filter(hist_df("IATA") === "BFL").show()
incr_df.filter(incr_df("IATA") === "BFL").show()
hist_df.filter(hist_df("IATA") === "AKN").show()
incr_df.filter(incr_df("IATA") === "AKN").show()

+----+--------+-----------+-----+-------+
|IATA| AIRPORT|       CITY|STATE|COUNTRY|
+----+--------+-----------+-----+-------+
| BFL|Meadows |Bakersfield|   CA|    USA|
+----+--------+-----------+-----+-------+

+----+-----------+-----------+-----+-------+
|IATA|    AIRPORT|       CITY|STATE|COUNTRY|
+----+-----------+-----------+-----+-------+
| BFL|Meadows New|Bakersfield|   CA|    USA|
+----+-----------+-----------+-----+-------+

+----+-----------+-----------+-----+-------+
|IATA|    AIRPORT|       CITY|STATE|COUNTRY|
+----+-----------+-----------+-----+-------+
| AKN|King Salmon|King Salmon|   AK|    USA|
+----+-----------+-----------+-----+-------+

+----+-------------------+-----------+-----+-------+
|IATA|            AIRPORT|       CITY|STATE|COUNTRY|
+----+-------------------+-----------+-----+-------+
| AKN|King Salmon Updated|King Salmon|   AK|    USA|
+----+-------------------+-----------+-----+-------+

In [47]:
dt.as("hist").merge(incr_df.as("incr"), "hist.IATA = incr.IATA").whenMatched().updateExpr(Map("AIRPORT" -> "incr.AIRPORT", "CITY" -> "incr.CITY", "STATE" -> "incr.STATE", "COUNTRY" -> "incr.COUNTRY")).whenNotMatched.insertAll().execute()

In [48]:
val final_df = spark.read.format("delta").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e3/")

final_df = [IATA: string, AIRPORT: string ... 3 more fields]

[IATA: string, AIRPORT: string ... 3 more fields]

In [49]:
final_df.filter(final_df("IATA") === "AKN" ).show()
final_df.filter(final_df("IATA") === "BFL" ).show()

+----+-------------------+-----------+-----+-------+
|IATA|            AIRPORT|       CITY|STATE|COUNTRY|
+----+-------------------+-----------+-----+-------+
| AKN|King Salmon Updated|King Salmon|   AK|    USA|
+----+-------------------+-----------+-----+-------+

+----+-----------+-----------+-----+-------+
|IATA|    AIRPORT|       CITY|STATE|COUNTRY|
+----+-----------+-----------+-----+-------+
| BFL|Meadows New|Bakersfield|   CA|    USA|
+----+-----------+-----------+-----+-------+

In [50]:
val dt = DeltaTable.forPath(spark, "file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/")

dt = io.delta.tables.DeltaTable@43065d62

io.delta.tables.DeltaTable@43065d62

In [51]:
dt.history().show(false)

+-------+-------------------+------+--------+---------+---------------------------------------------+----+--------+---------+-----------+--------------+-------------+
|version|timestamp          |userId|userName|operation|operationParameters                          |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|
+-------+-------------------+------+--------+---------+---------------------------------------------+----+--------+---------+-----------+--------------+-------------+
|2      |2020-08-20 17:21:39|null  |null    |UPDATE   |[predicate -> (specialisation#2488 = Mkt&HR)]|null|null    |null     |1          |null          |false        |
|1      |2020-08-20 17:21:27|null  |null    |DELETE   |[predicate -> ["(`status` = 'Not Placed')"]] |null|null    |null     |0          |null          |false        |
|0      |2020-08-20 17:21:13|null  |null    |WRITE    |[mode -> ErrorIfExists, partitionBy -> []]   |null|null    |null     |null       |null          |true         |
+-------+-------------------+------+--------+---------+---------------------------------------------+----+--------+---------+-----------+--------------+-------------+

In [52]:
spark.read.format("delta").option("versionAsOf",2).load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/").show()

+-----+------+-----+-----+--------+-----+--------------+------+------+------+
|sl_no|gender|ssc_p|hsc_p|degree_p|mba_p|specialisation|workex|status|salary|
+-----+------+-----+-----+--------+-----+--------------+------+------+------+
|    1|     M| 67.0| 91.0|    58.0|   55|        Mkt&HR|    No|Placed|320000|
|    2|     M|79.33|78.33|   77.48|   86|       Mkt&Fin|   Yes|Placed|200000|
|    3|     M| 65.0| 68.0|    64.0|   75|       Mkt&Fin|    No|Placed|250000|
|    5|     M| 85.8| 73.6|    73.3|   96|       Mkt&Fin|    No|Placed|425000|
|    8|     M| 82.0| 64.0|    66.0|   67|       Mkt&Fin|   Yes|Placed|252000|
|    9|     M| 73.0| 79.0|    72.0|   91|       Mkt&Fin|    No|Placed|231000|
|   11|     M| 58.0| 61.0|    60.0|   62|        Mkt&HR|   Yes|Placed|310000|
|   12|     M| 69.6| 68.4|    78.3|   60|       Mkt&Fin|   Yes|Placed|250000|
|   14|     F| 77.0| 87.0|    59.0|   68|       Mkt&Fin|    No|Placed|218000|
|   16|     F| 65.0| 75.0|    69.0|   72|       Mkt&Fin|   Yes|Placed|200000|
|   17|     M| 63.0| 66.2|    65.6|   60|       Mkt&Fin|   Yes|Placed|300000|
|   20|     M| 60.0| 67.0|    70.0|   50|       Mkt&Fin|   Yes|Placed|236000|
|   21|     M| 62.0| 65.0|    66.0|   50|        Mkt&HR|    No|Placed|315000|
|   22|     F| 79.0| 76.0|    85.0|   95|       Mkt&Fin|    No|Placed|393000|
|   23|     F| 69.8| 60.8|   72.23|   55|        Mkt&HR|    No|Placed|410000|
|   24|     F| 77.4| 60.0|   64.74|   92|       Mkt&Fin|   Yes|Placed|300000|
|   25|     M| 76.5| 97.7|   78.86|   97|       Mkt&Fin|    No|Placed|360000|
|   27|     M| 71.0| 79.0|    66.0|   94|       Mkt&Fin|   Yes|Placed|240000|
|   28|     M| 63.0| 67.0|    66.0|   68|        Mkt&HR|    No|Placed|315000|
|   29|     M|76.76| 76.5|    67.5|   73|       Mkt&Fin|   Yes|Placed|350000|
+-----+------+-----+-----+--------+-----+--------------+------+------+------+
only showing top 20 rows

In [53]:
dt.history().show(false)

+-------+-------------------+------+--------+---------+---------------------------------------------+----+--------+---------+-----------+--------------+-------------+
|version|timestamp          |userId|userName|operation|operationParameters                          |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|
+-------+-------------------+------+--------+---------+---------------------------------------------+----+--------+---------+-----------+--------------+-------------+
|2      |2020-08-20 17:21:39|null  |null    |UPDATE   |[predicate -> (specialisation#2488 = Mkt&HR)]|null|null    |null     |1          |null          |false        |
|1      |2020-08-20 17:21:27|null  |null    |DELETE   |[predicate -> ["(`status` = 'Not Placed')"]] |null|null    |null     |0          |null          |false        |
|0      |2020-08-20 17:21:13|null  |null    |WRITE    |[mode -> ErrorIfExists, partitionBy -> []]   |null|null    |null     |null       |null          |true         |
+-------+-------------------+------+--------+---------+---------------------------------------------+----+--------+---------+-----------+--------------+-------------+

In [54]:
spark.read.format("delta").option("timestampAsOf", "2020-08-20 16:55:21").load("file:///home/rameshbabug/Documents/projects/internal/delta-lake-examples/src/main/data/output/e2/").show()

org.apache.spark.sql.AnalysisException: The provided timestamp (2020-08-20 16:55:21.0) is before the earliest version available to this
table (2020-08-20 17:21:13.0). Please use a timestamp after 2020-08-20 17:21:13.
         ;